## Yelp

### reviews

In [82]:
import pandas as pd

In [5]:
reviews = pd.read_csv("d:\\Downloads\\bq-results-20241021-182102-1729534874175.csv")

### bussines

In [7]:
import pandas as pd

# Cargar el archivo .pkl
df = pd.read_pickle("D:\\Desktop\\proyecto_grupal\\business.pkl")

In [8]:
# Borrar columnas duplicadas
duplicated_columns = df.columns[df.columns.duplicated()]

# Eliminar columnas duplicadas
df = df.loc[:, ~df.columns.duplicated()]

In [24]:
df_business= df[df["state"].isin(["FL"])]

In [25]:
df_business["state"].value_counts()

state
FL    26329
Name: count, dtype: int64

In [50]:
df_business = df_business[df_business["categories"].str.contains(r"(?i)\brestaurants\b", na=False)]

In [52]:
# Guardar como archivo CSV
df_business.to_csv("df_business_limpio.csv", index=False)

In [53]:
from pandas import json_normalize
df_attributes = json_normalize(df_business['attributes'])

In [55]:
df_attributes.to_csv("df_attributes.csv")

### Join entre df_business_limpio y df_reviews

reviews tiene 40mil registros

In [58]:
df_yelp = pd.merge(df_business,reviews,on="business_id",how="inner")

In [60]:
df_yelp.head(10)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,categories,hours,text,cool,stars_y,date,funny,review_id,useful,user_id
0,seKihQKpGGnCeLuELRQPSQ,Twin Peaks,6880 E 82nd St,Indianapolis,FL,46250,39.906295,-86.047463,3.5,257,...,"Sports Bars, American (New), American (Traditi...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-0:0', '...",Good was on par with your typical sports bar. ...,0,3,2015-01-11 22:49:33 UTC,0,CSebyfJjT740KKgE6IPYcg,0,ZYNEE_VRshepHB599zUWcA
1,seKihQKpGGnCeLuELRQPSQ,Twin Peaks,6880 E 82nd St,Indianapolis,FL,46250,39.906295,-86.047463,3.5,257,...,"Sports Bars, American (New), American (Traditi...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-0:0', '...","With chain restaurants, I write short reviews ...",0,4,2019-07-08 00:18:19 UTC,3,B5aECxALkQZgQQQ4oQiVSA,0,_TKXaTPT2Yu0rRFqYzs44g
2,seKihQKpGGnCeLuELRQPSQ,Twin Peaks,6880 E 82nd St,Indianapolis,FL,46250,39.906295,-86.047463,3.5,257,...,"Sports Bars, American (New), American (Traditi...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-0:0', '...",Been wanting to come to twin peaks for a while...,0,5,2022-01-18 20:36:24 UTC,0,uOzC-IXnlc5hJ2h-0jNRKQ,0,ZphdnOBaO5Qd3STxXjspVw
3,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,FL,19104,39.954573,-75.194894,3.0,56,...,"Restaurants, Automotive, Delis, Gas Stations, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",This place is pretty well-run - it's always cl...,0,4,2009-01-25 04:08:52 UTC,0,PUNdXZqu6PvqhOWnsqIkAw,1,OZTZgCcxO7fcFkZ3LYDroA
4,uDQgmudYDKiB6n4vwbEeDg,Chrysalis,9040 Carothers Pkwy,Franklin,FL,37067,35.956533,-86.80272,4.5,112,...,"Restaurants, Italian, Nightlife, Bars, Cocktai...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...","We ordered take-out from this new place, and s...",1,4,2021-02-15 19:44:15 UTC,1,QhOnn7yj_oheUXjzAsT6ug,4,Z18Bze20mEVqRXAfe8DjZg
5,Edg22x3CZkIv0GUib2oEFA,Mellow Mushroom,8227 Oak St,New Orleans,FL,70118,29.948624,-90.13125,3.5,149,...,"Pizza, Restaurants, Bars, Nightlife, Sandwiches","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",Fun ambiance and food is good not great. Servi...,0,3,2019-09-14 22:43:20 UTC,0,YMpRLhAt7r2FYVp0JSpfdw,0,9lAp1eOFlvmA21pvLn6UsQ
6,Edg22x3CZkIv0GUib2oEFA,Mellow Mushroom,8227 Oak St,New Orleans,FL,70118,29.948624,-90.13125,3.5,149,...,"Pizza, Restaurants, Bars, Nightlife, Sandwiches","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",The good. We had the pizza. Delicious crust. C...,0,3,2016-03-25 03:10:54 UTC,0,mNgCyN6iuDHrJFqLwEBqXQ,0,NEgCqpLI1QCN5TxKn23fiA
7,W57cR9a7XP6RX56MSWHJJA,Las Margaritas,514 S Rampart St,New Orleans,FL,70163,29.95029,-90.074887,3.5,58,...,"Mexican, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",Fast and friendly service. My grandson said t...,0,3,2016-06-19 00:57:10 UTC,0,c1DeVcZ58Vmc7m75rSj1zQ,0,-ya_NmklzNvBXQs8mdiwfw
8,-7GDqSUaXrpC8Ql7nDBxWA,B2 Bluefin,401 E City Ave,Bala Cynwyd,FL,19004,40.007984,-75.212606,4.0,92,...,"Nightlife, Bars, Cocktail Bars, Japanese, Rest...","{'Monday': '11:30-22:0', 'Tuesday': '16:30-22:...",Great atmosphere. Delicious food. Weird servic...,0,4,2018-06-23 00:55:43 UTC,0,ZRf8qZM1Rq21e5cI3HIcpA,0,EsMMxTs0arl-c0a4ZuYtsg
9,XwoXi0M66RU6Gouq-DSDHw,G Peppers Grill & Tavern,8745 Gunn Hwy,Odessa,FL,33556,28.092136,-82.578574,4.0,82,...,"Restaurants, Mexican, American (Traditional)","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...","Starting Thursday, 12.15.11\nCOWBOY QUESADILLA...",0,5,2011-12-12 14:07:48 UTC,0,Rx4XxoA2U4LFCkGjoJqPjA,0,Mxb3qiFonMIoFzAUPThRmQ

## Google Maps

### Reviews estados Florida

Review florida

In [61]:
import json
import pandas as pd
import glob
from pandas import json_normalize

In [62]:

# Ruta a los archivos JSON
ruta_archivos = "D:\\Downloads\\review-Florida\\*.json"

# Inicializar una lista para almacenar los datos
datos = []

# Leer cada archivo JSON
for archivo in glob.glob(ruta_archivos):
    with open(archivo, "r") as f:
        for linea in f:
            objeto = json.loads(linea)
            datos.append(objeto)

# Crear un DataFrame con todos los datos
df_florida = pd.DataFrame(datos)

### metadata-sitios

In [17]:
import json

# Ruta a los archivos JSON
ruta_archivos = "D:\\Downloads\\metadata-sitios\\1.json"

# Leer el archivo como texto
with open(ruta_archivos, 'r', encoding='utf-8') as f:
    data = f.read()

# Procesar cada objeto JSON en el archivo
json_objects = [json.loads(obj) for obj in data.splitlines()]

# Convertir a un DataFrame de pandas
df = pd.DataFrame(json_objects)

In [68]:
# Ruta a los archivos JSON
ruta_archivos = "D:\\Downloads\\metadata-sitios\\*.json"

# Inicializar una lista para almacenar los datos
datos = []

# Leer cada archivo JSON
for archivo in glob.glob(ruta_archivos):
    with open(archivo, "r") as f:
        for linea in f:
            objeto = json.loads(linea)
            datos.append(objeto)

# Crear un DataFrame con todos los datos
df_sitios = pd.DataFrame(datos)

In [72]:
# Renombramos los nulos de la columna "category"
df_sitios['category'] = df_sitios['category'].fillna('')

# Filtramos bussines que sean restaurantes
df_sitios = df_sitios[df_sitios['category'].astype(str).str.contains('restaurant', case=False)]

### Hacemos un join con df_sitios y df_florida

In [74]:
# Realizar el join
df_google = pd.merge(df_sitios, df_florida, on='gmap_id', how='inner')

In [76]:
df_google.rename(columns={"name_x": "User", "name_y": "restaurant"}, inplace=True)

In [78]:
df_google.to_csv("df_google.csv")

## Modelo de machine learning

In [119]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [122]:
# Limpiar datos: eliminar filas con texto nulo o vacío
df = df.dropna(subset=['text'])  # Eliminar filas donde 'text' es None
df = df[df['text'].str.strip() != '']  # Eliminar filas donde 'text' está vací

In [123]:
# Vectorizar el texto
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['text'])

In [124]:
# Calcular la matriz de similitud
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [125]:
def recommend_similar_restaurants(restaurant_name, cosine_sim=cosine_sim):
    # Obtén el índice del restaurante que coincide con el nombre
    idx = df[df['Name_restaurant'] == restaurant_name].index[0]
    
    # Obtén las puntuaciones de similitud de todas las filas con ese restaurante
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Ordena las restaurantes basados en la similitud
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Obtener los 5 restaurantes más similares
    sim_scores = sim_scores[1:6]  # Excluyendo el mismo restaurante
    
    # Obtén los índices de los restaurantes
    restaurant_indices = [i[0] for i in sim_scores]
    
    # Retorna los restaurantes similares
    return df.iloc[restaurant_indices]

In [137]:
df["Name_restaurant"][2000]

'Alley Cat Seafood, Beer House & Wine Boutique'

In [138]:
# Prueba la función
recommended_restaurants = recommend_similar_restaurants("Alley Cat Seafood, Beer House & Wine Boutique")

In [139]:
recommended_restaurants["Name_restaurant"].value_counts()

Name_restaurant
Maoz Vegetarian               1
Las Delicias De Clara         1
Zócalo Folsom                 1
Green Life Market             1
Norkys Peruvian Restaurant    1
Name: count, dtype: int64

In [23]:
df_final.to_csv("df_final.csv")